*{
  margin: 0;

}
@media (max-width: 576px) {
  .socialItem {
    font-size: 20px; /* Reduce icon size on smaller screens */
  }
}
/* Add these to your existing CSS */
.socialItem.facebook {
  color: #3b5998; /* Facebook color */
}

.socialItem.google {
  color: #db4437; /* Google color */
}

.socialItem.github {
  color: #333; /* GitHub color */
}

.socialItem.twitter {
  color: #1da1f2; /* Twitter color */
}

.socialItem:hover {
  color: #888; /* Lighter color on hover */
}
